/* Sidebar background color */
@sidebarBaseColor: #000;
@sidebarActiveColor: #e99d1a;
@sidebarTextColor: #f3f3f3;
@sidebarHoverColor: #fff;

/* Sidebar header and footer color */
@headerColor: lighten(@sidebarBaseColor, 10%);

/* Sidebar title text color */
@menuTitleColor:  @sidebarActiveColor;

/* Sidebar menu item text color */
@menuItem: @sidebarTextColor;

/* Sidebar menu item hover color */
@menuItemHover: @sidebarHoverColor;

/* Sidebar title text color */
@menuItemActive:  @sidebarActiveColor;
